body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 750px;
    margin: auto;
    background: white;
    padding: 25px;
    margin-top: 40px;
    border-radius: 8px;
}

h1,
h3 {
    text-align: center;
}

.desc {
    text-align: justify;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

textarea {
    height: 80px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

.hasil {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}